# Ignore Python virtual environments
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# ignore environment files
/embeddings/env.sh

# ignore pickle and log files
/embeddings/src/robust_steganography/datasets/*.pkl
/embeddings/src/robust_steganography/models/*.pkl
/embeddings/temp_pca/*.pkl

# ignore enron email data files
/enron_emails/*.json
/enron_emails/*.npy
/enron_emails/*.pkl
/enron_emails/paragraph_embeddings/
/enron_emails/paragraph_paraphrase_embeddings/
/enron_emails/paragraph_paraphrases/

__pycache__/

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db